{% extends 'base.html.twig' %}

{% block title %}Console index{% endblock %}

{% block body %}
    <img class="responsive-img" src="https://www.corexzone.com/app/uploads/2018/06/web-banner-xbx.jpg">
    <h1>Index des consoles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Online gratuit et spécificités</th>
                <th>Prix</th>
                <th>Retrocompabilité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for console in consoles %}
            <tr>
                <td>{{ console.Name }}</td>
                <td>{{ console.FreeOnline }}</td>
                <td>{{ console.Price }}</td>
                <td>{{ console.Retrocompability }}</td>
                <td>
                    <a href="{{ path('console_show', {'id': console.id}) }}"><span class="new badge pink darken-4" data-badge-caption="Voir"></span></a>
                    <a href="{{ path('console_edit', {'id': console.id}) }}"><span class="new badge pink darken-4" data-badge-caption="Modifier"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'entrées dans cette catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('console_new') }}">
        <span class="new badge pink darken-4" data-badge-caption="Ajouter une nouvelle entrée"></span>
    </a>
{% endblock %}
