{% extends 'base.html.twig' %}

{% block title %}Console{% endblock %}

{% block body %}
    <img class="responsive-img" src="https://www.corexzone.com/app/uploads/2018/06/web-banner-xbx.jpg">
    <h1>Console</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ console.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ console.Name }}</td>
            </tr>
            <tr>
                <th>FreeOnline</th>
                <td>{{ console.FreeOnline }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ console.Price }}</td>
            </tr>
            <tr>
                <th>Retrocompability</th>
                <td>{{ console.Retrocompability }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('console_index') }}"><span class="new badge pink darken-4" data-badge-caption="Retour à la liste"></span></a>
    <a href="{{ path('console_edit', {'id': console.id}) }}"><span class="new badge pink darken-4" data-badge-caption="Modifier"></span></a>

    {{ include('console/_delete_form.html.twig') }}
{% endblock %}
